<!doctype html>
<html ng-app="directivesModule">
    <body ng-controller="CustomersController">
        
        <h1>Shared Scope Directive</h1>
        <shared-scope></shared-scope>

        <h1>Isolate Scope Directive</h1>
        <isolate-scope></isolate-scope>
        
        <h1>Isolate Scope with String Directive</h1>
        <isolate-scope-with-string name="{{ customer.name }}"></isolate-scope-with-string>
        
        <h1>Isolate Scope with Object Directive</h1>
        <isolate-scope-with-object datasource="customer"></isolate-scope-with-object>
        
        <h1>Isolate Scope with Event Directive</h1>
        <isolate-scope-with-event-directive datasource="customer" action="changeData()"></isolate-scope-with-event-directive>


        <script src="scripts/angular.js"></script>
        <script src="scripts/directivesController.js"></script>
        <script src="sharedScopeDirective.js"></script>
        <script src="isolateScopeDirective.js"></script>
        <script src="isolateScopeWithStringDirective.js"></script>
        <script src="isolateScopeWithObjectDirective.js"></script>
        <script src="isolateScopeWithEventDirective.js"></script>
    </body>
</html>
