html, body { background-color: #eee !important; height: 100%; margin: 0px; padding: 0px; }
footer { bottom: 0; position: absolute; padding-bottom: 10px; }

nav { margin-bottom: 0px !important; }

.container { background-color: #fff !important; height: 100%; margin: 0px; padding: 0px; }
table { width: 500px; border: 1px solid #eee; }
table>tbody>tr:last-child { border-bottom: 3px solid #eee;}

.delete { color: red; }
th { text-align: left; background-color: #efefef; cursor: pointer; }

/* ng-cloak - THIS IS FOR SMOOTH PAGE REFRESH */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng.ng-cloak {
display: none !important;