<!doctype html>
<html ng-app>
<head>
    <title>Iterating Over Data</title>
</head>
<body ng-init="people=[{ name:'Dave', city:'Montreal'},
               { name:'Melissa', city:'Lost River'},{ name:'Kelly', city:'West Island'},{ name:'Tim', city:'Toronto'}]">

    
    <ul>
        <li ng-repeat="person in people">{{person.name + ' ' + person.city }}</li>
    </ul>
    
    <table>
        <tr>
            <th>Name</th>
            <th>City</th>
        </tr>
        <tbody>
            <tr ng-repeat="person in people">
                <td>{{ person.name }}</td>
                <td>{{ person.city }}</td>
            </tr>
        </tbody>
    </table>


    <script src="angular.js"></script>
</body>
</html>
