<h2>Customer Orders</h2>
<br>
Filter: <input type="text" class="form-control" ng-model="ordersFilter.product" />
<br /><br />
<table class="table table-striped table-hover">
    <tr>
        <th>Product</th>
        <th>Total</th>
    </tr>
    <tr ng-repeat="order in orders | filter:ordersFilter | orderBy:sortBy:reverse" class="repeat-animation">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
    <tr ng-class="totalType">
        <td>&nbsp;</td>
        <td>{{ ordersTotal | currency }}</td>
    </tr>
</table>