<h2 data-ng-model="customer.id">{{ appSettings.title }}</h2>
Filter: <input type="text" class="form-control" ng-model="customerFilter.name" />
<br /><br />
<table class="table table-striped table-hover">
    <tr>
        <th ng-click="doSort('name')">Name</th>
        <th ng-click="doSort('city')">City</th>
        <th ng-click="doSort('orderTotal')">Order Total</th>
        <th ng-click="doSort('joined')">Joined</th>
        <th>Orders</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="cust in customers | filter:customerFilter | orderBy:sortBy:reverse" class="slide-animation">
        <td>{{ cust.name }}</td>
        <td>{{ cust.city }}</td>
        <td>{{ cust.orderTotal | currency }}</td>
        <td>{{ cust.joined | date }}</td>
        <td><a href="#/orders/{{ cust.id }}" class="btn btn-default btn-xs btn-block">View Orders</a></td>
        <td class="center"><span class="glyphicon glyphicon-remove delete" ng-click="deleteCustomer(cust.id)"></span></td>
    </tr>
</table>

<br />
<span class="well well-xs">Total customers: {{ customers.length }}</span>
<footer>Version: {{ appSettings.version }}</footer>