<h2>{{ customer.name }}'s Orders</h2>
<table class="table table-striped table-hover">
    <tr>
        <th>Product</th>
        <th>Total</th>
    </tr>
    <tr ng-repeat="order in customer.orders">
        <td>{{ order.product }}</td>
        <td>{{ order.total | currency }}</td>
    </tr>
</table>

<a class="btn btn-default" href="#/">Back</a>